@font-face {
    font-family: channel;
    src: url(/Java1/src/vignoble/fonts/channel-webfont.svg)format(svg),
    url(/Java1/src/vignoble/fonts/channel-webfont.ttf)format(truetype),
    url(/Java1/src/vignoble/fonts/channel-webfont.woff)format(woff);

    font-family: oldsh_;
    src: url(/Java1/src/vignoble/fonts/oldsh___-webfont.woff)format(woff),
    url(/Java1/src/vignoble/fonts/oldsh___-webfont.woff2)format(woff2),
    url(/Java1/src/vignoble/fonts/OLDSH___.TTF)format(truetype),
    url(/Java1/src/vignoble/fonts/OLDSIH__.TTF)format(truetype),
    url(/Java1/src/vignoble/fonts/OLDSSCH_.TTF)format(truetype);
    
}
body{
    background-image: url(/Java1/src/vignoble/images/bg_motif.gif);
    color: white;
    
    
}

.header-container{
    display: grid;
    grid-area: header-container;
    grid-template-rows: 35px;
    border-bottom: 3px solid white;
    background-color: black;
}

.header-navigation{
    grid-area: header-navigation;
    text-align: right;
    right: 50px;
    left: 400px;
    word-spacing: 100px;
    position: relative;    
    margin-right: -25px;
      
}

.logo{

   position: relative;
    top: 65px;
    left: 100px;
    z-index: 5;
}

.vin{
    width: 100%;
        
}

.header-accueil{
    grid-area: header-accueil;
    color: white;
    text-decoration: none;
    font-family: channel;
}


.header-html5{
    grid-area: header-html5;
    color: white;
    text-decoration: none;
    font-family: channel;
    
    
}

.header-CSS3{
    grid-area: header-CSS3;
    color: white;
    text-decoration: none;
    font-family: channel;
}

.header-application{
    grid-area: header-application;
    color: white;
    text-decoration: none;
    font-family: channel;
}

.header-contact{
    grid-area: header-contact;
    color: white;
    text-decoration: none;
    font-family: channel;
    margin-right: 60px;
}

li {
    list-style:none;
    color:white;
    padding:10px;
    font-size:20px;
    text-decoration:none;
    }

nav ul {
    padding:0;
    background-color: rgb(3, 3, 3, 0.3);
    margin:0;
    list-style-type: none;
    
    
    }

    
nav ul li {
    list-style: none;
    line-height:44px;
    float:left;
    
 }

nav ul li a {
    color:white;
    padding:10px;
    font-size:20px;
    text-decoration: none;
    font-family: channel;
    text-justify: auto;
}

    
nav ul li ul { display:none; } /* Rend le menu déroulant caché par défaut */

nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index: 5;
    display:list-item;
    position:absolute;
    margin-top:5px;
    margin-left:-10px;
    
    }


 nav ul li:hover ul li {
    float:none;
    border-style: solid;
    border-width: 1px ;
    text-align: left;
    }


main{
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(92, 91, 91, 0.4);
    padding-top: 10px;   
}

.raisin > figcaption{
    text-align: center;
    color: rgb(117, 3, 3);
    border: 6px solid white;
    background-color: white;
    font-family: oldsh_;
    font-size: x-large;
    

}

flexbox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5%;
    margin-left: 600px;
    margin-right: 600px;
    height: 500px;  
     
}

hr{
    border: none;
    border-top: 2px solid rgb(231, 230, 230, 0.4);
    height: -30px;
}

.flex-line{
    
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: channel;
    font-size: small;
    background-image: url(/Java1/src/vignoble/images/bg_g.png);
}

.bouteille{
    align-self: flex-end;
    margin-left: 20%;
    
}
.verre{
    align-self: flex-end;
    margin-left: 20%;
}
.champagne{
    align-self: flex-end;
    margin-left: 20%;
}
h1{
    color: white;
   text-align: center;
}

p{
    font-family: oldsh_;
    font-size: medium;
    color: black;
    padding-left: 5%;
    margin-right: 10%;
}

.LaCave a{
    color: white;
    background-color: rgb(185, 181, 181);
    text-decoration: none;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    font-family: Oldsh_;
    font-size: large;
    display: inline-block;
    transition-duration: 2s;
}


.LaCave a:hover{
    color: darkred;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    width: 100px;
    height: 100px;
    font-size: xx-large;
}    

.LeVigneron a{
    color: white;
    background-color: rgb(185, 181, 181);
    text-decoration: none;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    font-family: Oldsh_;
    font-size: large;
    display: inline-block;
    transition-duration: 2s;
}

.LeVigneron a:hover{
    color: darkred;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    width: 100px;
    height: 100px;
    font-size: xx-large;
}

.LesProduits a{
    color: white;
    background-color: rgb(185, 181, 181);
    text-decoration: none;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    font-family: Oldsh_;
    font-size: large;
    display: inline-block;
    transition-duration: 2s;
}

.LesProduits a:hover{
    color: darkred;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    width: 100px;
    height: 100px;
    font-size: xx-large;
}

hr{
    color: white;
   text-align: center;
}

.container-wine{
    display: grid;
    grid-template-columns: 35% 65% ;
    grid-template-rows: auto;
    grid-template-areas: "selection gifts";
    column-gap: 15px ;
}

.flex-selection{
    display: flex;
    flex-direction: column;

}

.flex-selection li{
    list-style: inside url(/Java1/src/vignoble/images/liste.png);
    margin-left: 30%;
}






footer{
    background-image:url(/Java1/src/vignoble/images/img_footer.png) ;
    background-repeat: no-repeat;
    background-size: contain;
    
    padding: 2em;
    border-top: 1px solid rgb(146, 145, 145);
}

footer nav{
    display: grid;
    grid-template-rows: 2;
    grid-template-areas: "Accueil Cave vigneron produits contact."
    "..... img";
    
}

footer-picture{
    display: grid;
    grid-area: img;
    
    
}

footer nav ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1;
    text-align: center;
    vertical-align: middle;
}

